.weather-tile{
    color: white;
    background-color: #232374;
    box-shadow: 10px 10px 20px -4px #47505cc7;
    border-radius: 20px;
    padding: 1em 1.1em;
    min-width: 150px;
}
.weather-tile-icon{
    font-size: 2rem;
}
.weather-tile-value{
    font-size: 1.5rem;
}