.weather-wizard-container{
    margin: 2rem auto;
    background: #ECF3FE;
    width: min(500px, 100vw);
    border-radius: 15px;
    overflow: hidden;
}
.main{
    padding: 1rem;
}
@media screen and (max-width:500px) {
    .weather-wizard-container{
        margin:0;
        border-radius: 0;
    }
    .h1,.logo{
        font-size: 1rem;
    }
}