/*|| Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ||Reusable classes */
.d-flex{
  display: flex;
}
.flex-wrap{
  flex-wrap: wrap;
}
.justify-evenly{
  justify-content: space-evenly;
}
.justify-between{
  justify-content: space-between;
}
.justify-around{
  justify-content: space-between;
}
.align-items-center{
  align-items: center;
}
.justify-center{
  justify-content: center;
}
.text-center{
  text-align: center;
}
.m-1{
  margin: 0.5em;
}





